{#
| Variable          | Type    | Description                                                                 |
|-------------------|---------|-----------------------------------------------------------------------------|
| heading           | string  | Main heading of the section                                                |
| items[]           | array   | List of feature items                                                      |
| items[].image     | string  | Image URL for the feature                                                  |
| items[].alt       | string  | Alt text for the image                                                     |
| items[].title     | string  | Title of the feature                                                       |
| items[].text      | string  | Description text for the feature                                           |
| center_image      | string  | Image URL for the center section                                           |
| center_image_alt  | string  | Alt text for the center image                                              |
#}

<section class="s-block s-block--features container">
<div class="container">
  <div class="heading rte" style="text-align: center; margin-bottom: 40px;">
    <h2>{{ heading }}</h2>
  </div>
  <div class="section-icon-boxs-m">
    <div class="section-icon-boxs-m-left">
      {% for item in items|slice(0, 3) %}
        <div class="custom-item">
          <div class="cust-inner">
            <div class="icon-heading">
              <div class="image-wrap adapt-media">
                <div class="icon-images lazy-image">
                  <img src="{{ item.image }}" alt="{{ item.alt }}" width="170" height="170" loading="lazy">
                </div>
              </div>
              <div class="header-text" style="color:#000000;">
                <h4>{{ item.title }}</h4>
              </div>
            </div>
            <div class="textblocks-m">
              <div class="text" style="color:#000000;">
                <p>{{ item.text }}</p>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="section-icon-boxs-m-center">
      <div class="image-wrap adapt-media">
        <div class="icon-images lazy-image">
          <img src="{{ center_image }}" alt="{{ center_image_alt }}" width="170" height="170" loading="lazy">
        </div>
      </div>
    </div>
    <div class="section-icon-boxs-m-right">
      {% for item in items|slice(3, 3) %}
        <div class="custom-item">
          <div class="cust-inner">
            <div class="icon-heading">
              <div class="image-wrap adapt-media">
                <div class="icon-images lazy-image">
                  <img src="{{ item.image }}" alt="{{ item.alt }}" width="170" height="170" loading="lazy">
                </div>
              </div>
              <div class="header-text" style="color:#000000;">
                <h4>{{ item.title }}</h4>
              </div>
            </div>
            <div class="textblocks-m">
              <div class="text" style="color:#000000;">
                <p>{{ item.text }}</p>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
